@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
* {
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}


.steps__purple {
color: #6415FF;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

button {
    cursor: pointer;
}

header .row {
    display: flex;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415FF;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    padding-top: 32px;
}

img {
    width: 100%;
}

.logo__container {
    font-weight: 900;
    display: flex;
    align-items: center;
    font-size: 24px;
    letter-spacing: 0.6px;
    color: #243e63;
    padding-bottom: 4px;
}

.logo {
    width: 40px;
}



.nav__link {
    font-size: 14px;
    text-decoration: none;
    margin: 0 24px;
    color: #243e63;
    font-weight: 600;
}

.nav__link:hover {
    color: #6415FF;
    transition: all ease 300ms;
    text-decoration: underline;
}

.nav__link--login {
    margin: 0 24px 0 48px;
}

.nav__link--signup {
    color: #F7FAFC;
    border-radius: 100px;
    padding: 12px 32px;
background-color: #6415FF;
}

.nav__link--signup:hover {
    text-decoration: none;
    color: #F7FAFC;
}

.btn__menu {
    font-size: 24px;
    border: none;
    background-color: transparent;
    text-align: center;
    display: none;

}

.btn__menu:hover {
    color: #6415FF;
    transition: 300ms ease;
}


.menu__backdrop {
margin: 24px 16px;
padding: 32px;
height: 100%;
max-height: 325px;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1000;
border: 1px solid rgb(229, 231, 235);
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
opacity: 0;
transition: all 300ms ease;
visibility: hidden;
background-color: white;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    margin: 8px 0;
padding-bottom: 4px 0;
}


.menu__link {
    font-weight: 600;
    text-decoration: none;
    color: #243e63;
    font-size: 18px;
}

.menu__link--signup {
    color: #F7FAFC;
    border-radius: 100px;
    padding: 12px 32px;
background-color: #6415FF;
}
.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
}

.beautiful__container {
width: 40%;
display: flex;
flex-direction: column;
padding-left: 32px;
}

.beautiful__h {
    font-size: 36px;
color: #1A202C;
}

.beautiful__para {
margin: 32px 0;
font-size: 16px;
color: #243e63;
}

.email__input {
position: relative;
display: flex;
align-items: center;
max-width: 448px;
}

input {
padding: 22px 32px 22px 32px;
width: 100%;
border-radius: 100px;
border: 2px solid #e5e7eb;
font-size: 16px;
font-weight: 500;
}

.email__btn {
position: absolute;
right: 0;
margin: 8px 8px 8px 0;
padding: 16px 0;
width: 160px;
border: none;
font-size: 16px;
color: #F7FAFC;
font-weight: 600;
background-color: #6415FF;
border-radius: 9999px;
}

.trusted__customer {
margin-top: 80px;
}


.trusted__customer--para {
font-size: 12px;
color: #A0AEC0;
font-weight: 700;
}

.trusted__customer--img {
    display: flex;
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.beautiful__figure {
    position: relative;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    max-width: 768px;
    padding-right: 32px;
    align-items: center;
}

.beautiful__img {
    width: 80%;
}

/*Features*/

#features .row {
    display: flex;
    flex-direction: column;
}

.features__container {
    padding: 96px 0;
}

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__title{
    font-size: 16px;
    color: #6415FF;
    font-weight: 700;
    margin-bottom: 16px;
}

.features__subtitle{
color: #243e63;
font-size: 52px;
}
.features__span{
font-size: 48px;
color: #6415FF;
}

.features__para {
margin: 16px 0 40px;
font-size: 18px;
color: #7c8ba1;
font-weight: 500;
max-width: 576px;
text-align: center;
}

.services {
display: flex;
flex-wrap: wrap;
}

.service {
display: flex;
width: calc(100% / 3);
padding: 32px 24px;
align-items: start;
justify-content: center;
}

.figure__item {
    padding: 20px;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 100%;
}

.service__img {
width: 24px;
}

.service__description {
display: flex;
flex-direction: column;
margin: 8px 0 0 16px;
}

.service__title{
font-size: 24px;
color:#243e63;
font-weight: bold;
}

.service__para{
margin-top: 16px;
font-size: 16px;
color: #7c8ba1;
}

/*QUALITY*/

.quality__container {
width: 50%;
display: flex;
flex-direction: column;
margin-right: 64px;
padding-left: 32px;
}

.quality__span {
font-size: 16px;
color: #6415FF;
font-weight: bold;
}

.quality__h {
    margin-top: 16px;
    font-size: 36px;
    color: #1A202C;
    font-weight: 900;
}

.quality__para {
    margin-top: 16px;
    font-size: 18px;
    color: #7c8ba1;
    line-height: 1.625;
}

.quality__btn {
   margin-top: 34px;
   padding: 12px 32px;
   background-color: #6415FF;
   color: #F7FAFC;
   border: none;
   font-size: 14px;
   font-weight: 700;
   max-width: 141px;
   border-radius: 9999px;
}

.quality__btn:hover,
.email__btn:hover,
.nav__link--signup:hover{
background-color: #4B0076;
    transition: all 300ms ease;
}

.quality__img {
width: 50%;
}

#quality .row {
    display: flex;
    padding: 96px 0;
}

/*STEPS*/

#steps .row {
    display: flex;
    padding: 96px 0;
}
.steps__img {
    width: 50%;
    display: flex;
    align-items: center;
}

.steps__container {
width: 50%;
display: flex;
flex-direction: column;
margin-left: 64px;
}

.steps__title {
font-size: 16px;
color: #6415FF;
font-weight: 600;
}

.title {
    font-size: 48px;
    color: #243e63;
    margin-top: 16px;
    max-width: 320px;
    font-weight: 900;
}


.step {
    margin-top: 32px;
    display: flex;
}

.step__number--wrapper {
    display: flex;
    flex-direction: column;
    color: #Cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
}

.step__description {
margin-left: 24px;
display: flex;
flex-direction: column;
}

.step__description--title {
font-size: 20px;
color: #243e63;
font-weight: 600;
}

.step__para {
    font-size: 14px;
    margin-top: 12px;
    color: #718096;
    max-width: 320px;
}

/*PRICIGN*/


#pricing .row {
    padding: 96px 0;
}

.plans {
    display: flex;
}

.plan {
width: calc(100% / 3);
margin: 64px 32px 0 0;
padding: 8px 32px 0;
}

.plan__card {
    max-width: 384px;
    align-items: center;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    position: relative;
}

.topline {
    height: 8px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__info {
padding: 32px;
display: flex;
flex-direction: column;
align-items: center;
border-bottom: 2px solid #e5e7eb;

}

.pricing__name {
font-size: 20px;
color: #1A202C;
font-weight: 600;
}

.pricing__price {
margin: 4px 0;
font-size: 48px;
color: #1A202C;
font-weight: 600;
}

.pricing__duration {
font-size: 16px;
color: #A0AEC0;
font-weight: 600;
}

.advancedinfo {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #e5e7eb;
}

.maininfo {
font-size: 20px;
color: #1A202C;
font-weight: 600;
}

.sideinfo {
margin-top: 20px;
font-size: 16px;
color: #718096;
font-weight: 500;
opacity: 0.75;
}

.purchase__wrapper--btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}

.purchase__btn {
font-size: 14px;
color: #F7FAFC;
padding: 16px 32px;
background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
border: none;
width: 60%;
font-weight: 900;
border-radius: 9999px;
}

.plan__card2 {
    max-width: 384px;
    align-items: center;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    position: relative;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.pricing__name2 {
    font-size: 20px;
color: #F7FAFC;
font-weight: 600;
}
.pricing__price2 {
    margin: 4px 0;
font-size: 48px;
color: #F7FAFC;
font-weight: 600;
}
.pricing__duration2 {
    font-size: 16px;
color: #F7FAFC;
font-weight: 600;
}
.maininfo2 {
font-size: 20px;
color: #F7FAFC;
font-weight: 600;
}

.sideinfo2 {
    margin-top: 20px;
    font-size: 16px;
    color: #F7FAFC;
    font-weight: 400;
opacity: 0.85;
}

.purchase__btn2 {
    font-size: 14px;
    color: #6415FF;
    padding: 16px 32px;
    border: none;
    width: 60%;
    font-weight: 900;
    border-radius: 9999px;
}

.topline3 {
    height: 8px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__card3 {
    max-width: 384px;
    align-items: center;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    position: relative;
}

.pricing__name3 {
    font-size: 20px;
color: #1A202C;
font-weight: 600;
}
.pricing__price3 {
    margin: 4px 0;
font-size: 48px;
color: #1A202C;
font-weight: 600;
}
.pricing__duration3 {
    font-size: 16px;
color: #A0AEC0;
font-weight: 600;
}
.maininfo3 {
font-size: 20px;
color: #1A202C;
font-weight: 600;
}

.sideinfo3 {
    margin-top: 20px;
    font-size: 16px;
    color: #718096;
    font-weight: 500;
opacity: 0.75;
}

.purchase__btn3 {
    font-size: 14px;
    color: #f7fafc;
    padding: 16px 32px;
    border: none;
    width: 60%;
    font-weight: 900;
    border-radius: 9999px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/*FOOTER*/

footer {
    width: 100%;
    background-color: #6415ff;
    padding: 96px 32px;
}

.links {
display: flex;
flex-wrap: wrap;
margin: -48px 0 0;
}

.link {
display: flex;
flex-direction: column;
width: calc(100%/5);
align-items: center;
margin-top: 48px;
}

.footer__title {
color: #F7FAFC;
font-size: 16px;
font-weight: 600;
}

.footer__links {
    margin-top: 24px;
    align-items: center;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.footer__subtitle {
    margin-top: 12px;
    padding-bottom: 4px;
    color: #f7fafc;
    font-size: 14px;
    font-weight: 500;
}

.footer__line {
    width: 100%;
    border: 1px solid #718096;
    opacity: 0.3;
    margin: 64px 0;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
display: flex;
align-items: center;
}

.footer__logo img {
    width: 32px;
}

h3 {
    margin-left: 8px;
    font-size: 20px;
    color: #F7FAFC;
}

.copyright {
    font-size: 16px;
    font-weight: 600;
    color: #Cbd5e0;
}


i {
    margin-right: 8px;
    padding: 8px;
    background-color: #F7FAFC;
    border-radius: 100%;
    border: 1px solid #1A202C;
    border: none

}

ul {
    list-style-type: none;
}



/*1024px*/
@media (max-width: 1024px) {

.nav__links {
display: none;
    }

    
.beautiful__container {
    width: 100%;    
    align-items: center;
}

.beautiful__para {
    margin: 20px 0;
    width: 60%;
    text-align: center;
}

.beautiful__h {
    font-size: 30px;
}

.email__input {
    margin: 0 auto;
    width: 100%;
}

.trusted__customer {
    margin: 48px 0;
    text-align: center;
}


.trusted__customer--img {
    padding: 0;
    max-width: 512px;
}

header .row {
    flex-direction: column;
}

.beautiful__figure {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.btn__menu {
display: block;

}
    .features__subtitle {
        font-size: 36px;
    }
    .features__span {
        font-size: 36px;
    }
    .features__para {
        font-size: 16px;
    }
    .service {
        width: 50%;
    }

    .plans {
        flex-direction: column;
    align-items: center;
    }
.plan {
    width: 50%;
}

.services {
    padding-left: 82px;
}
.service__para {
    width: 50%;
}

.step__para {
    width: 50%;
}

}


@media (max-width: 768px) {
    .service {
        width: 100%;
    }

    #quality .row {
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
    }

    .quality__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    margin-top: 50px;
    width: 100%;
    max-width: 448px;
    margin-bottom: 23px;
    }

    .quality__img {
        margin-top: 40px;
        width: 100%;
        max-width: 500px;
    }

    #steps .row {
        flex-direction: column-reverse;
        align-items: center;
    }

    .steps__container {
        margin-bottom: 50px;
        margin: 0 auto;
    }


    .steps__title {
        display: flex;
        justify-content: center;
    }


    .steps__subtitle {
        display: flex;
        justify-content: center;
        font-size: 32px;
    }

    .steps__img {
        margin-top: 50px;
    }

    .advancedinfo {
        padding: 32px;
    }

    .links {
        display: flex;
        flex-wrap: wrap;
    }

    .link {
        width: calc(100% / 3);
    }

    .footer__links {
        display: flex;
        flex-direction: column;
    }

    .footer__info {
    flex-direction: column;
    }

    .copyright {
        margin-top: 32px;
    }

    .footer__socials {
        margin-top: 32px;
    }


}


@media (max-width: 639px) {
    .links {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }

    .link {
        width: calc(100% /5);
        min-width: 100px;
    }
}

@media (max-width: 610px) {
   .links{
    display: flex;
    }

.plan {
    width: 80%;
}
.step__para {
    width: 100%;
}

.steps__subtitle {
    width: 100%;
}

    }

